
.video{
    max-height: 350px;
    transform: scaleX(-1);
}
.capture{
    width: 100px;
    height: 30px;
    margin: 10px;
}
.circle-box {
    width: 470px;
    height: 400px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -101%);
    opacity:0.5; 
  }
  .box{
    
  background-color: #a0baf3;  
}
::ng-deep .ion-page {
    background-color: #a0baf3;  
}
.header{
    background-color: blue;
    color: #fff;
    margin-bottom: 50px;
    
}


